<table class="table">
	<thead class="thead-light">
		<tr>
			<th>Nome</th>
			<th>Cognome</th>
			<th>Numero Cellulare</th>
			<th>Conversazione</th>
			<th></th>
		</tr>
	</thead>

	<tbody>
		<% model.each do |patient| %>
		<tr>
			<td><%= patient.name %></td>
			<td><%= patient.surname %></td>
			<td><%= patient.phoneno %></td>
			<td><%= patient.dialogs.empty? ? "No" : "Si" %></td>
			<td><%= link_to "Chat", patient_path(patient), class: "badge badge-primary" %></td>
		</tr>
		<% end %>
	</tbody>
</table>
