<p id="notice"><%= notice %></p>

<p>
  <strong>Patient:</strong>
  <%= @invitation.patient %>
</p>

<p>
  <strong>Campaign:</strong>
  <%= @invitation.campaign %>
</p>

<%= link_to 'Edit', edit_invitation_path(@invitation) %> |
<%= link_to 'Back', invitations_path %>
