<%= render "layouts/notice" %>

<h1>Dialogs</h1>

<table>
  <thead>
    <tr>
      <th>Patient</th>
      <th>User message</th>
      <th>Patient reply</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dialogs.each do |dialog| %>
      <tr>
        <td><%= dialog.patient %></td>
        <td><%= dialog.user_message %></td>
        <td><%= dialog.patient_reply %></td>
        <td><%= link_to 'Show', dialog %></td>
        <td><%= link_to 'Edit', edit_dialog_path(dialog) %></td>
        <td><%= link_to 'Destroy', dialog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dialog', new_dialog_path %>
